<h1 class="animated fadeIn"> {{ placeDetail.place | uppercase }} <small> {{ placeDetail.country }} </small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="placeDetail.img" [alt]="placeDetail.place">
  </div>
  <div class="col-md-8">
    <h3>{{ placeDetail.place }}</h3>
    <hr>
    <p>
      {{ placeDetail.bio }}
    </p>
  </div>
  <div class="container mt-4" *ngIf="placeDetail.placesToVisit != null">
    <h2>Lugares que visitar</h2>
    <hr>
    <div class="place mr-4 mt-3" *ngFor="let placeVisit of placeDetail.placesToVisit">

      <div class="">
        <img class="img-circle" [src]="placeVisit.img" [alt]="placeVisit.place">
      </div>

      <div class="text-center">
        <span>{{ placeVisit.name }}</span>
      </div>

    </div>

  </div>
  <div class="container mt-4" *ngIf="placeDetail.dishes != null">
    <h2>Comida tradicional</h2>
    <hr>
    <div class="place mr-4 mt-3" *ngFor="let dish of placeDetail.dishes">

      <div>
        <img class="img-circle" [src]="dish.img" [alt]="dish.place">
      </div>

      <div class="text-center">
        <span>{{ dish.name }}</span>
      </div>
  </div>

</div>
