/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.card-engif{
  margin: 20px 20px;
  width: 40%;
}

.lista{
  margin: 20px 20px;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
}

P.title-footer{
  position: relative;
  left: 40%;
  text-align: center;
  font-size: 16px;
}
