<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<button class="btn btn-info mr-2" type="button" (click)="alerta = 'alert-info'">Info</button>

<button  class="btn btn-success" type="button" (click)="alerta = 'alert-success'">Success</button>

<h3 class="mt-3" [ngClass]="{'text-danger' : propiedades.danger, 'text-info' : !propiedades.danger }">
  Hola Mundo
</h3>

<button type="button"
  class="btn mt-3"
  (click)="propiedades.danger = !propiedades.danger"
  [ngClass]="{ 'btn-danger' : propiedades.danger, 'btn-info' : !propiedades.danger  }">
  Cambiar color
</button>

<br><br>
<h3>Proceso Asincrono</h3>
<button type="button" name="button"
  class="btn btn-primary mt-2" (click)="ejecutar()"
  [disabled]="loading">
  <i class="fas" [ngClass]="{ 'fa-save' : !loading, 'fa-sync-alt fa-spin' : loading }"></i>
  <span class="pl-2" *ngIf="loading">Guardar cambios</span>
  <span class="pl-2" *ngIf="!loading" >Espere por favor</span>
</button>
