<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="/assets/img/A-64.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['personajes']">Personajes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onNgSubmit()">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar personaje"  (keyup.enter)="buscarPersonaje(buscarTexto.value)" #buscarTexto>
      <button key (click)="buscarPersonaje(buscarTexto.value)"
      class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>
