<app-loading *ngIf="loading" ></app-loading>

<div class="row m-5 animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img class="img-thumbnail img-circle" [src]="singer.images | noimage" [alt]="singer.name">
  </div>
  <div class="col">
    <h3>{{ singer.name }}
      <p>
        <a [href]="singer.external_urls.spotify" target="_blank">
          Ir a la pagina del artista
        </a>
      </p>
    </h3>
  </div>
  <div class="col-4 text-right">
    <button class="btn btn-outline-danger" routerLink="/search">
      Regresar
    </button>
  </div>
</div>
<!-- Tabla de canciones de artista -->
<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Cancion</th>
          <th>Vista Previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topTrack of topTracks">
          <td><img [src]="topTrack.album.images | noimage "
            [alt]="topTrack.album.name" class="img-thumb"></td>
          <td>{{ topTrack.album.name }}</td>
          <td>{{ topTrack.name }}</td>
          <td>
            <!-- Dean Lewis - Be Alright -->
            <!-- LANCO - Greatest Love Story -->
            <!-- <audio [src]="topTrack.preview_url" controls></audio> -->
            <!-- Utilizamos el pipe domseguro: Para enviar el link de la cancion de manera segura -->
            <iframe [src]="topTrack.id | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
