<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Demos</a>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item active" [routerLinkActive]="routerLinkActive">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>

      <li class="nav-item" [routerLinkActive]="active">
        <a class="nav-link" [routerLink]="['usuario',10]">Usuario</a>
      </li>
    </ul>
  </div>
</nav>
