<h1 class="animated fadeIn">{{personaje.nombre | uppercase}}<small> ({{personaje.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4 col-lg-4">
    <figure class="personaje">
      <img [src]="personaje.img" [alt]="personaje.nombre" >
    </figure>
    <a [routerLink]="['/personajes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <br>
  <br>
  <div class="col-md-8">
    <h3>{{personaje.nombre}}</h3>
    <hr>
    <p>{{personaje.bio}}</p>
    <div class="logo">
      <img *ngIf="personaje.casa == 'DC'" class="img-logo" src="assets/img/logo1.png" >
      <img *ngIf="personaje.casa != 'DC'" class="img-logo" src="assets/img/logo2.png" >
    </div>

  </div>

</div>
