<h1>Busqueda: <small>{{ termino }}</small></h1>
<div class="row" *ngIf="personajes.length <= 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino: {{ termino }}
    </div>
  </div>
</div>
<br>
<div class="card-columns">

  <!-- <div class="card animated fadeIn fast" *ngFor="let personaje of personajes; let i = index">
    <img [src]="personaje.img" class="card-img-top" [alt]="personaje.nombre">
    <div class="card-body">
      <h5 class="card-title">{{personaje.nombre}}</h5>
      <p class="card-text">{{ personaje.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ personaje.aparicion }}</small></p>
      <button (click)="verPersonaje(i)" type="button" class="btn btn-outline-primary btn-block" name="button">
        Detalles del personaje</button>
    </div>
  </div> -->

  <app-personaje-tarjeta   [personaje]="personaje" [index]="personaje.id" *ngFor="let personaje of personajes;"></app-personaje-tarjeta>
</div>
