<h1 class="animated fadeIn">{{ personaje.nombre | uppercase}} <small>{{ personaje.aparicion }}</small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="personaje.img" [alt]="personaje.nombre" class="img-fluid">
    <br><br>
    <a [routerLink]="['/personajes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{ personaje.nombre }}</h3>
    <hr>
    <p>
      {{ personaje.bio }}
    </p>
    <div class="">
      <img class="img-logo" *ngIf="personaje.aparicion == 'Dragon ball' " src="assets/img/logo1.png" alt="">
      <img class="img-logo" *ngIf="personaje.aparicion == 'Dragon ball Z'" src="assets/img/logo2.png" alt="">
    </div>
  </div>
</div>
