

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>Upps Ocurrio un error</h3>
  <p>
    {{ mensajeError }}
  </p>
</div>

<!-- Se agrega Componente de tarjeta
Se pasan la variable nuevasCanciones a input items  -->
<app-tarjetas [items]='nuevasCanciones'></app-tarjetas>
