<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'">success</div>
  <div *ngSwitchCase="'info'">info</div>
  <div *ngSwitchCase="'warning'">warning</div>
  <div *ngSwitchDefault>danger</div>
</div>

<button class="btn btn-secondary m-3" type="button" name="button" (click)="alerta = 'success'">
  Cambiar
</button>

<div class="container">
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" (click)="alerta = 'success'">
    <label class="custom-control-label" for="customRadio1">Success</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" (click)="alerta = 'info'">
    <label class="custom-control-label" for="customRadio2">Info</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" (click)="alerta = 'warning'">
    <label class="custom-control-label" for="customRadio3">Warning</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" (click)="alerta = ''">
    <label class="custom-control-label" for="customRadio4">Ninguno</label>
  </div>

</div>

<div [ngSwitch]="alerta" class="mt-3">
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div *ngSwitchDefault class="alert alert-danger" role="alert">
    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
</div>
