<h1>Buscando: <small>{{busqueda}}</small></h1>
<hr>
<div *ngIf="personajes.length == 0" class="alert alert-danger alert-dismissible fade show" role="alert">
  No se encontrarón ningun resultado referente a: {{busqueda}}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card-columns">
  <app-personaje-tarjeta [personaje]="foo" [index]="foo.idx" *ngFor="let foo of personajes;"></app-personaje-tarjeta>
</div>
