<div class="card m-2">
    <img [src]="place.img" class="card-img-top" [alt]="place.place">
    <div class="card-body">
      <h5 class="card-title">{{ place.place }}</h5>
      <p class="card-text">{{ place.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ place.country }}</small></p>
      <button (click)="detail()" type="button" name="button" class="btn btn-outline-primary btn-block">
        Ver detalle
      </button>
    </div>
</div>
