<div class="card">
<img [src]="personaje.img" class="card-img-top" [alt]="personaje.nombre">
  <div class="card-body">
    <h5 class="card-title">{{ personaje.nombre }}</h5>
    <p class="card-text">{{ personaje.bio }}</p>
    <p class="card-text"><small class="text-muted">{{personaje.aparicion}}</small></p>
    <button (click)="verPersonaje()" type="button" class="btn btn-outline-primary btn-block" name="button">
      Ver más...
    </button>
    <!-- <a [routerLink]="['/personaje',i]" class="btn btn-outline-primary btn-block"> Ver más link...</a> -->
  </div>
</div>
