<h1>Personajes de Dragon ball </h1>
<br>
<div class="card-columns">
<!-- *ngFor="let personaje of personajes; let i = index" -->

<!-- <div class="card animated fadeIn fast" *ngFor="let personaje of personajes; let i = index">
  <img [src]="personaje.img" class="card-img-top" [alt]="personaje.nombre">
  <div class="card-body">
    <h5 class="card-title">{{personaje.nombre}}</h5>
    <p class="card-text">{{ personaje.bio }}</p>
    <p class="card-text"><small class="text-muted">{{ personaje.aparicion }}</small></p>
    <button (click)="verPersonaje(i)" type="button" class="btn btn-outline-primary btn-block" name="button">
      Detalles del personaje</button> -->
    <!-- <a [routerLink]="['/personaje', i]" class="btn btn-outline-primary btn-block">Ver mas link..</a> -->
  <!-- </div>
</div> -->
<!-- mandar una propiedad al componente [personaje] variable delarada en personaje-tarjeta.ts -->




<!-- 1- (personajeSeleccionado) primiero va a la funcion verPersonaje donde esta  (personajeSeleccionado)
2- toma el atributo que va emitr (Output) y ejecuta la funcion verPersonaje1 pasando $event (el parametro obtenido) -->
<!-- (personajeSeleccionado)="verPersonaje1( $event )" -->

<app-personaje-tarjeta  [personaje]="personaje" [index]="i" *ngFor="let personaje of personajes; let i = index"></app-personaje-tarjeta>

</div>
