body{
  margin-bottom: 50px;
}

.navbar{

}

.main-container{
  margin-top: 20px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.personaje{
  width: 100%;
  position: relative;

}

.personaje img{
  width: 100%;
}

.logo{
  width: 20%;
  position: relative;
  left: 40%;
  padding-bottom: 25px;
}
.img-logo{
  width: 100%;
}
