.example-card {
  max-width: 45%;
  position: relative;
  left: 25%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

.img-card{
  width: 98%;
  margin-left: 5px;
}

.menu{
  position: absolute;
  right: 0%;
}
