<mat-card class="example-card">
  <mat-card-header>
    <button mat-button [matMenuTriggerFor]="menu" class="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Perrito</mat-card-title>
    <mat-card-subtitle>Una raza de perro</mat-card-subtitle>
  </mat-card-header>
  <img  class="img-card" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">Like</button>
    <button mat-button color="accent">Share</button>
  </mat-card-actions>
</mat-card>
