<mat-toolbar color="primary" class="toolbar-menu">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
      <mat-icon>apps</mat-icon>
    </button>
    <span>Menú</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span class="letra">Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span></span>
      </button>
      <button  mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>    
</mat-toolbar-row>
