<div class="row m-4">
  <div class="col">
    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
  </div>
</div>

<app-loading *ngIf="loading && termino.value"></app-loading>

<!-- Se agrega Componente de tarjeta
Se pasan la variable artistas a input items  -->
<app-tarjetas *ngIf="!loading" [items]='artistas'></app-tarjetas>
