
<app-navbar></app-navbar>
<div class="container main-container">
  <h1>Demo<small> Aangular</small></h1>
  <hr>
  <!-- <app-ng-style></app-ng-style> -->
<!-- --------- app-css
 <app-css></app-css>
  <p>
    Hola Mundo desde app.component
  </p>
----------- -->
<!-- --------ngClass---------
<app-clases></app-clases>

------------------- -->

 <!-- Va enviar una variable dentro de appResaltado
------------dierective------
<p [appResaltado]="'orange'">
  Hola Mundo
</p>
--------- -->
<!-- Ng-swicth
<app-ng-switch></app-ng-switch> -->

<router-outlet></router-outlet>

</div>
