<div class="jumbotron jumbotron-fluid animated  fadeIn">
  <div class="container">
    <h1 class="display-4">Drangon ball</h1>
    <p class="lead">Esta es una aplicacion de dragon ball</p>
  </div>
</div>
