<div class="jumbotron jumbotron-fluid animated fast fadeIn">
  <div class="container">
    <h1 class="display-4">Drangon ball App</h1>
    <p class="lead">Esta es una aplicación de Dragon ball.</p>
  </div>
</div>
