<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{ nombre }} </td>
      <td> uppercase </td>
      <td> {{ nombre | uppercase}} </td>
    </tr>
    <tr>
      <td> {{ nombre }} </td>
      <td> lowercase </td>
      <td> {{ nombre | lowercase}} </td>
    </tr>
    <tr>
      <td> {{ nombre }} </td>
      <td> slice:5 </td>
      <td> {{ nombre | slice:5}} </td>
    </tr>
    <tr>
      <td> {{ nombre }} </td>
      <td> slice:0:5 </td>
      <td> {{ nombre | slice:0:5}} </td>
    </tr>
    <tr>
      <td> {{ arreglo }} </td>
      <td> slice:1:5 </td>
      <td> {{ arreglo | slice:1:5}} </td>
    </tr>
    <tr>
      <td> {{ PI }} </td>
      <td> number:'3.0-0' </td>
      <td> {{ PI | number:'3.0-0'}} </td>
    </tr>
    <tr>
      <td> {{ PI }} </td>
      <td> number:'3.0-0' </td>
      <td> {{ PI | number:'3.0-0'}} </td>
    </tr>
    <tr>
      <td> {{ PI }} </td>
      <td> number:'1.0-2' </td>
      <td> {{ PI | number:'1.0-2'}} </td>
    </tr>
    <tr>
      <td> {{ a }} </td>
      <td> percent </td>
      <td> {{ a | percent}} </td>
    </tr>
    <tr>
      <td> {{ a }} </td>
      <td> percent </td>
      <td> {{ a | percent:'2.2-2'}} </td>
    </tr>
    <tr>
      <td> {{ salario }} </td>
      <td> currency </td>
      <td> {{ salario | currency }} </td>
    </tr>
    <tr>
      <td> {{ salario }} </td>
      <td> currency:'EUR' </td>
      <td> {{ salario | currency:'EUR' }} </td>
    </tr>
    <tr>
      <td> {{ salario }} </td>
      <td> currency:'EUR':true:'4.0-0' </td>
      <td> {{ salario | currency:'EUR':true:'4.0-0' }} </td>
    </tr>
    <tr>
      <td> {{ salario }} </td>
      <td> number:'.2-2' </td>
      <td> {{ salario | number:'.2-2' }} </td>
    </tr>
  </tbody>
</table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
  </ul>
</div>
