body{
  background: #4ABDAC;
}

#nav{
    background: #4ABDAC;
}

nav a {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

nav a:hover{
  color: grey;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.img-thumb {
    width: 50px;
    height: 50px;
}
.img-circle {
    border-radius: 100%;
    width: 150px;
}

.place{
  display: inline-block;
}
