<mat-card class="card-engif">
  <mat-card-header>
      <mat-card-title>ngif</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="mostrar">
    <h5>{{ frase.autor }}</h5>
    <p>{{ frase.mensaje }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)=" mostrar = !mostrar" mat-raised-button color="accent">Mostar/Ocultar</button>
  </mat-card-actions>
</mat-card>

<mat-list class="lista">
  <h3>Personajes</h3>
  <mat-list-item *ngFor="let personaje of personajes; let i = index" >
    <mat-icon color = "yellow">star_border</mat-icon>
    <h5>{{personaje}}</h5>
  </mat-list-item>
</mat-list>
